Repository AdamShymanski/Varp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialize, deploy_functions

.gitlab-ci.yml:

default:
  # custom image from Dockerfile
  image: $CI_REGISTRY_IMAGE/ci:latest

stages:
  - initialize
  - build
  - test
  - preview
  - deploy


cache:
  paths:
    - node_modules/
    - "**/node_modules/"

initialize:
  stage: initialize
  only:
    refs:
      - merge_requests
    # skip initialize if no change in package.json
    changes:
      - "**/package.json"
  script:
    - lerna bootstrap -- --production
    - firebase hosting:channel:open live --non-interactive

# skip as no deployment for story book
# build:ui:
#   stage: build
#   only:
#     - merge_requests
#   cache:
#     policy: pull
#     paths:
#       - node_modules/
#   script:
#     - npx lerna run --scope @pyramid/ui build --stream
#   artifacts:
#     name: "$CI_JOB_NAME"
#     paths:
#       - packages/ui/dist/

build:client:
  stage: build
  only:
    - merge_requests
  cache:
    policy: pull
    paths:
      - node_modules/
  script:
    - lerna run --scope @pyramid/client build --stream
  artifacts:
    name: "$CI_JOB_NAME"
    paths:
      - packages/client/dist/

test:
  stage: test
  cache: {}
  only:
    - merge_requests
  script:
    - echo test

preview:
  stage: preview
  only:
    - merge_requests
  script:
    - firebase hosting:channel:deploy $CI_COMMIT_REF_SLUG --non-interactive --token "$FIREBASE_TOKEN"
    - echo "ENVIRONMENT_URL=$(firebase hosting:channel:open $CI_COMMIT_REF_SLUG --non-interactive | awk '{ print $3 }')" >> deploy.env
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: $ENVIRONMENT_URL
  variables:
    ENVIRONMENT: staging
  artifacts:
    reports:
      dotenv: deploy.env

deploy_client:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    ENVIRONMENT: production
  script:
    - export PREV_COMMIT_SLUG=$(git log --pretty='%s' -1 | awk '{ print $3 }' | sed -e "s/^'//" -e "s/'$//")
    - firebase hosting:clone pyramid-64ab2:$PREV_COMMIT_SLUG pyramid-64ab2:live --non-interactive --token "$FIREBASE_TOKEN"
    - echo "ENVIRONMENT_URL=$(firebase hosting:channel:open live --non-interactive | awk '{ print $3 }')" >> deploy.env
  environment:
    name: production
    url: $ENVIRONMENT_URL
  artifacts:
    reports:
      dotenv: deploy.env


deploy_functions:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - functions/*
  script:
    - cd functions
    - npm install
    - cd ..
    - firebase deploy --only functions --non-interactive --token "$FIREBASE_TOKEN"
  environment:
    name: production-functions

elements from .js to .tsx
  packages/client/src/react/elements/FirstElement.js
  packages/client/src/react/elements/SecondElement.js
  packages/client/src/react/elements/ThirdElement.js
Due: none

delete firebase functions
  functions/firebase/firebase.js
  functions/firebase/firebaseConfig.js
  functions/firebase/firebaseFunction.js
Due: none

small changes in UI
  firebase.json
  functions/.eslintrc.js
  functions/index.js
  functions/lib/index.js
  functions/lib/index.js.map
  functions/package-lock.json
  functions/package.json
  functions/server.js
  functions/src/index.ts
  functions/tsconfig.dev.json
  functions/tsconfig.json
  package-lock.json
  packages/client/package.json
  packages/client/src/App.js
  packages/client/src/axios.js
  packages/client/src/context/SocketContext.js
  packages/client/src/contexts/AuthContext.js
  packages/client/src/firebase.js
  packages/client/src/react-app-env.d.ts
  packages/client/src/sass/LandingPage-style.scss
  packages/client/src/sass/RegisterPage-style.scss
  packages/client/src/variables.scss
  packages/client/tsconfig.json
  packages/ui/lib/Button/index.tsx
  packages/ui/package-lock.json
  packages/ui/package.json
  yarn.lock
Due: initialize, deploy_functions

card component- export improvement
  packages/ui/lib/Card/Card.stories.tsx
  packages/ui/lib/Card/index.tsx
  packages/ui/lib/index.js
Due: none

.
  packages/ui/lib/Card/index.tsx
Due: none

fast commit
  functions/lib/index.js
  functions/lib/index.js.map
  functions/src/index.ts
  packages/client/src/react/LandingPage.tsx
  packages/client/src/react/elements/FirstElement.tsx
  packages/client/src/react/elements/SecondElement.tsx
  packages/client/src/resources/icons/logo.png
  packages/client/src/resources/icons/logo.svg
  packages/client/src/sass/LandingPage-style.scss
  packages/client/src/sass/elements/SecondElement-style.scss
  packages/client/src/variables.scss
  packages/client/tsconfig.json
Due: none

fix(game-sidebar): :lipstick: fix wrapping + icon
  packages/ui/lib/SideDrawer/Top/Survey.svg
  packages/ui/lib/SideDrawer/Top/index.tsx
  packages/ui/lib/SideDrawer/Top/lit.svg
  packages/ui/lib/SideDrawer/Top/referral_program 1.svg
Due: none

feat(game-sidebar): :sparkles: tooltip for bonuses
  packages/ui/lib/SideDrawer/Top/index.tsx
Due: none

feat(game-sidebar): :sparkles: tooltip for each bonus
  packages/ui/lib/SideDrawer/Top/index.tsx
Due: none

refactor(game-sidebar): :recycle: adjust storybook input
  packages/ui/lib/SideDrawer/Top/Top.stories.tsx
  packages/ui/lib/SideDrawer/Top/index.tsx
Due: none

tsconfig|| noImplicitAny=false
  packages/client/tsconfig.json
Due: none

pyramid -> varp
  packages/client/package.json
  packages/ui/lib/index.js
  packages/ui/package.json
Due: initialize

feat: add mainpage
  packages/client/src/App.tsx
  packages/client/src/react/MainPage.tsx
Due: none

upadate of all chanaged files
  .gitlab-ci.yml
  packages/client/package.json
  packages/client/public/index.html
  packages/client/src/App.tsx
  packages/client/src/react/LandingPage.tsx
  packages/client/src/react/MainPage.tsx
  packages/client/src/react/RegisterPage.tsx
  packages/client/src/react/elements/SecondElement.tsx
  packages/client/src/sass/LandingPage-style.scss
  packages/client/src/sass/MainPage-style.scss
  packages/client/src/sass/RegisterPage-style.scss
  packages/client/src/sass/elements/SecondElement-style.scss
  packages/client/src/variables.scss
  packages/ui/lib/Button/index.tsx
  packages/ui/lib/Card/Description/index.tsx
  packages/ui/lib/Card/Details/index.tsx
  packages/ui/lib/Card/Header/index.tsx
  packages/ui/lib/SideDrawer/BottomCard/index.tsx
  packages/ui/lib/SideDrawer/index.tsx
Due: initialize

build: :green_heart: includes development packages as well
  .gitlab-ci.yml
Due: none

Update index.tsx
  packages/ui/lib/SideDrawer/Top/index.tsx
Due: none

Storybook - Input
  packages/ui/lib/Input/Input.stories.tsx
  packages/ui/lib/Input/index.tsx
Due: none

default to varp
  .firebaserc
Due: none

Prettier changes
  .prettierrc.json
  functions/.eslintrc.js
  functions/keys/serviceAccountKey.json
  functions/lib/index.js
  functions/lib/index.js.map
  functions/package.json
  functions/src/index.ts
  functions/yarn.lock
  packages/client/public/index.html
  packages/client/public/logo_favicon.png
  packages/client/src/contexts/AuthContext.js
  packages/client/src/react/LandingPage.tsx
  packages/client/src/react/RegisterPage.tsx
  packages/client/src/react/SignInPage.tsx
  packages/client/src/react/elements/FirstElement.tsx
  packages/client/src/react/elements/SecondElement.tsx
  packages/client/src/react/elements/ThirdElement.tsx
  packages/client/src/resources/icons/check-mark.svg
  packages/client/src/sass/LandingPage-style.scss
  packages/client/src/sass/RegisterPage-style.scss
  packages/client/src/sass/SignInPage-style.scss
  packages/client/src/sass/elements/Card.scss
  packages/ui/lib/Button/Button.stories.tsx
  packages/ui/lib/Button/index.tsx
  packages/ui/lib/SideDrawer/Top/Top.stories.tsx
  packages/ui/lib/SideDrawer/Top/index.tsx
  packages/ui/lib/index.js
Due: initialize, deploy_functions

eslint - format
  .eslintrc.json
Due: none

change of dependency order
  packages/client/package.json
Due: initialize

input/ fixed reference issue
  packages/ui/lib/Input/index.tsx
Due: none

background color
  packages/client/src/App.scss
Due: none

delete console.log
  packages/ui/lib/Input/index.tsx
Due: none

build: :building_construction: remove pyramid project related to varp
  .firebaserc
  .gitlab-ci.yml
  functions/lib/index.js
  functions/src/index.ts
  packages/client/public/index.html
  packages/client/src/firebase.js
  packages/ui/package.json
Due: initialize

Small changes of layout in the Side Drawer
  packages/ui/lib/SideDrawer/BottomCard/index.tsx
  packages/ui/lib/SideDrawer/GameCard/index.tsx
  packages/ui/lib/SideDrawer/Top/index.tsx
  packages/ui/lib/SideDrawer/index.tsx
Due: none

Text changed to Icons in the Details section
  packages/ui/lib/Card/Description/index.tsx
  packages/ui/lib/Card/Details/clock.svg
  packages/ui/lib/Card/Details/index.tsx
  packages/ui/lib/Card/Details/task.svg
  packages/ui/lib/Card/Details/triangle.svg
Due: none

Added Text Button
  packages/ui/lib/Card/ActionBar/index.tsx
Due: none

+ Text Button
  packages/ui/lib/Button/Button.stories.tsx
  packages/ui/lib/Button/arrow.svg
  packages/ui/lib/Button/index.tsx
Due: none

+ Logo Class
  packages/client/src/variables.scss
Due: none

fast commit
  functions/.eslintrc.js
  functions/lib/index.js
  functions/lib/index.js.map
  functions/src/index.ts
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/contexts/AuthContext.js
  packages/client/src/firebase.js
  packages/client/src/react/LandingPage.tsx
  packages/client/src/react/MainPage.tsx
  packages/client/src/react/PrivateRoute.tsx
  packages/client/src/react/RegisterPage.tsx
  packages/client/src/react/SignInPage.tsx
  packages/client/src/react/elements/FirstElement.tsx
  packages/client/src/react/elements/SecondElement.tsx
  packages/client/src/react/elements/ThirdElement.tsx
  packages/client/src/react/games/FlappyBird/assets.tsx
  packages/client/src/react/games/FlappyBird/index.tsx
  packages/client/src/react/games/FlappyBird/store.tsx
  packages/client/src/resources/icons/hamburger-menu.svg
  packages/client/src/sass/LandingPage-style.scss
  packages/client/src/sass/RegisterPage-style.scss
  packages/client/src/sass/SignInPage-style.scss
  packages/client/src/sass/elements/FirstElement-style.scss
  packages/client/src/sass/elements/SecondElement-style.scss
  packages/client/src/sass/elements/ThirdElement-style.scss
  packages/client/tsconfig.json
Due: initialize, deploy_functions

style: :lipstick: move tooltip to text
  packages/ui/lib/SideDrawer/Top/index.tsx
Due: none

fix: :lipstick: adjust bar
  packages/ui/lib/SideDrawer/Top/index.tsx
Due: none

build: :green_heart: upload to chromatic
  .gitlab-ci.yml
  packages/ui/package.json
  packages/ui/runfile.js
Due: initialize

ci: :green_heart: fix naming
  .gitlab-ci.yml
Due: none

ci: :green_heart: skip preview ui
  .gitlab-ci.yml
Due: none

feat - add ripple effect on button
  packages/ui/lib/Button/index.tsx
Due: none

Responsiveness improvement
  packages/client/src/react/elements/FirstElement.tsx
  packages/client/src/react/elements/SecondElement.tsx
  packages/client/src/react/elements/ThirdElement.tsx
  packages/client/src/sass/elements/FirstElement-style.scss
  packages/client/src/sass/elements/SecondElement-style.scss
  packages/client/src/sass/elements/ThirdElement-style.scss
Due: none

Entire Game
  packages/games/flappy-bird/index.html
  packages/games/flappy-bird/package-lock.json
  packages/games/flappy-bird/package.json
  packages/games/flappy-bird/src/assets/font/font.fnt
  packages/games/flappy-bird/src/assets/font/font.png
  packages/games/flappy-bird/src/assets/images/bg.png
  packages/games/flappy-bird/src/assets/images/bird.png
  packages/games/flappy-bird/src/assets/images/pipe.png
  packages/games/flappy-bird/src/assets/pack.json
  packages/games/flappy-bird/src/game.ts
  packages/games/flappy-bird/src/objects/bird.ts
  packages/games/flappy-bird/src/objects/pipe.ts
  packages/games/flappy-bird/src/phaser.d.ts
  packages/games/flappy-bird/src/scenes/game-scene.ts
  packages/games/flappy-bird/tsconfig.json
  packages/games/flappy-bird/webpack.config.js
  packages/games/flappy-bird/yarn.lock
Due: initialize

Delete of unused font
  packages/client/public/index.html
Due: none
